<div class="container-header">
    <div class="buttons" *ngIf="showButtons||width>600">
        <button class="btn" 
            (click)="filterType('dessert')"  
            [ngStyle]="{'background-color': dessertColor}">
            <fa-icon class="icon-thumbnail" 
            [icon]="faTag">
            </fa-icon>
            Desserts
        </button>
        <button class="btn" 
            (click)="filterType('drink')"
            [ngStyle]="{'background-color': drinkColor}">
            <fa-icon class="icon-thumbnail"
            [icon]="faTag">
            </fa-icon>
            Drinks
            
        </button>
    </div>
    <form #f="ngForm" (ngSubmit)="collapse()" novalidate>
    <input class="search" 
        type="text" 
        [ngModel]="inputData" 
        placeholder="&#xF002;" 
        (input)="searchData($event)"
        (click)="expand()"
        (blur)="collapse()"
        (touchstart)="expand()"
        (ngSubmit)="collapse()"
        [ngStyle]="{'width': focusSearch}"
        name="search"
    >
    </form>
    
</div>
