.container-header{
    max-width: 70rem;
    margin: auto auto;
    overflow: hidden;
}
.buttons{
    float: left;
    justify-content: space-between;
}
.btn{
    background-color: crimson; 
    margin-top: 1em;
    margin-left: 1em;
    border: none;
    color: white;
    padding: 0.5em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 1em;
    cursor: pointer;
}
.btn:hover{
    background-color: #C60117;
}
.search-container{
   
    float:right;
}
.search{
    padding: 6px;
    max-width: 30rem;
    float:right;
    margin-top: 1em;
    margin-right: 2em;
    font-size: 17px;
    border: 1px solid #ccc;
    border-radius: 1em;
}